In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/Final dataset.csv")

In [ ]:
df = df.drop_duplicates()

In [ ]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [ ]:
df.replace('', np.nan, inplace=True)

In [ ]:
df = df.dropna()

In [ ]:
df = df.loc[:, df.isnull().mean() < 0.5]

In [ ]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 18530 entries, 0 to 18530
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                18530 non-null  int64
 1   Gender             18530 non-null  object
 2   Blood Type         18530 non-null  object
 3   Medical Condition  18530 non-null  object
 4   Test Results       18530 non-null  object
 5   Height_cm          18530 non-null  int64
 6   Weight_kg          18530 non-null  int64
 7   BMI                18530 non-null  float64
 8   Smoking            18530 non-null  object
 9   Natural Food       18530 non-null  object
 10  Yoga               18530 non-null  object
 11  Symptom            18530 non-null  object
 12  Alcohol Status     18530 non-null  object
dtypes: float64(1), int64(3), object(9)
memory usage: 2.0+ MB

                Age     Height_cm     Weight_kg           BMI
count  18530.000000  18530.000000  18530.000000  18530.000000
mean      51.556287    169.985483     84.966972     29.833142
std       19.542023     11.774032     20.454090      8.356411
min       13.000000    150.000000     50.000000     13.850000
25%       35.000000    160.000000     67.000000     23.230000
50%       52.000000    170.000000     85.000000     29.170000
75%       68.000000    180.000000    103.000000     35.690000
max       89.000000    190.000000    120.000000     53.330000

In [ ]:
df.isnull().sum()

Age                  0
Gender               0
Blood Type           0
Medical Condition    0
Test Results         0
Height_cm            0
Weight_kg            0
BMI                  0
Smoking              0
Natural Food         0
Yoga                 0
Symptom              0
Alcohol Status       0
dtype: int64

In [ ]:
binary_cols = ['smoking', 'alcohol_status']
for col in binary_cols:
    if col in df.columns:
        df[col] = df[col].map({'yes': 1, 'no': 0})

In [ ]:
df.columns = df.columns.str.capitalize()

In [ ]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
print(df[['natural_food', 'yoga']].head())

                                natural_food  \
0  Cruciferous vegetables, Berries, Turmeric
1           Leafy greens, Whole grains, Nuts
2  Cruciferous vegetables, Berries, Turmeric
3           Leafy greens, Whole grains, Nuts
4  Cruciferous vegetables, Berries, Turmeric

                                yoga
0              Pranayama, Yoga Nidra
1  Dhanurasana, Ardha Matsyendrasana
2              Pranayama, Yoga Nidra
3  Dhanurasana, Ardha Matsyendrasana
4              Pranayama, Yoga Nidra

In [ ]:
print(df.dtypes)

age                    int64
gender                object
blood_type            object
medical_condition     object
test_results          object
height_cm              int64
weight_kg              int64
bmi                  float64
smoking               object
natural_food          object
yoga                  object
symptom               object
alcohol_status        object
dtype: object

In [ ]:
print(df.columns.tolist())

['Age', 'Gender', 'Blood Type', 'Medical Condition', 'Test Results', 'Height_cm', 'Weight_kg', 'BMI', 'Smoking', 'Natural Food', 'Yoga', 'Symptom', 'Alcohol Status']

In [ ]:
print(df.head())
print(df.columns)

   Age  Gender Blood Type Medical Condition  Test Results  Height_cm  \
0   30    Male         B-            Cancer        Normal        188
1   28  Female         O+          Diabetes      Abnormal        157
2   43  Female        AB+            Cancer      Abnormal        170
3   21  Female        AB-          Diabetes  Inconclusive        168
4   20  Female         A+            Cancer  Inconclusive        172

   Weight_kg    BMI Smoking                               Natural Food  \
0         83  23.48      No  Cruciferous vegetables, Berries, Turmeric
1         59  23.94     Yes           Leafy greens, Whole grains, Nuts
2         60  20.76      No  Cruciferous vegetables, Berries, Turmeric
3         52  18.42      No           Leafy greens, Whole grains, Nuts
4         64  21.63      No  Cruciferous vegetables, Berries, Turmeric

                                Yoga  \
0              Pranayama, Yoga Nidra
1  Dhanurasana, Ardha Matsyendrasana
2              Pranayama, Yoga Nidra
3  Dhanurasana, Ardha Matsyendrasana
4              Pranayama, Yoga Nidra

                                       Symptom Alcohol Status
0                  Fatigue, Lumps, Weight loss            Yes
1  Frequent urination, Fatigue, Blurred vision             No
2                  Fatigue, Lumps, Weight loss            Yes
3  Frequent urination, Fatigue, Blurred vision             No
4                  Fatigue, Lumps, Weight loss            Yes
Index(['Age', 'Gender', 'Blood Type', 'Medical Condition', 'Test Results',
       'Height_cm', 'Weight_kg', 'BMI', 'Smoking', 'Natural Food', 'Yoga',
       'Symptom', 'Alcohol Status'],
      dtype='object')

In [ ]:
df['Natural Food'] = df['Natural Food'].apply(lambda x: [item.strip() for item in x.split(',')])
df['Yoga'] = df['Yoga'].apply(lambda x: [item.strip() for item in x.split(',')])

In [ ]:
print(df[['Natural Food', 'Yoga']].head())

                                  Natural Food  \
0  [Cruciferous vegetables, Berries, Turmeric]
1           [Leafy greens, Whole grains, Nuts]
2  [Cruciferous vegetables, Berries, Turmeric]
3           [Leafy greens, Whole grains, Nuts]
4  [Cruciferous vegetables, Berries, Turmeric]

                                  Yoga
0              [Pranayama, Yoga Nidra]
1  [Dhanurasana, Ardha Matsyendrasana]
2              [Pranayama, Yoga Nidra]
3  [Dhanurasana, Ardha Matsyendrasana]
4              [Pranayama, Yoga Nidra]

In [ ]:
with pd.ExcelWriter('cleaned_data.xlsx', engine='openpyxl') as writer:
    df.to_excel(writer, index=False, sheet_name='Sheet1')
    workbook  = writer.book
    worksheet = writer.sheets['Sheet1']


    from openpyxl.styles import Font
    for cell in worksheet[1]:
        cell.font = Font(bold=True)

In [ ]:
df.to_csv("cleaned_dataset.csv", index=False)