In [ ]:
# @title Default title text
import pandas as pd
df = pd.read_csv('/content/Dataset.csv')

In [ ]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18533 entries, 0 to 18532
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                18533 non-null  int64
 1   Gender             18533 non-null  object
 2   Blood Type         18533 non-null  object
 3   Height_cm          18533 non-null  int64
 4   Weight_kg          18533 non-null  int64
 5   BMI                18533 non-null  float64
 6   Medical Condition  18533 non-null  object
 7   Test Results       18533 non-null  object
 8   Symptom            18533 non-null  object
 9   Smoking            18533 non-null  object
 10  Alcohol Status     18533 non-null  object
 11  Natural Food       18533 non-null  object
 12  Yoga               18533 non-null  object
dtypes: float64(1), int64(3), object(9)
memory usage: 1.8+ MB

                Age     Height_cm     Weight_kg           BMI
count  18533.000000  18533.000000  18533.000000  18533.000000
mean      51.557654    169.985216     84.965629     29.832678
std       19.540805     11.773365     20.452993      8.355826
min       13.000000    150.000000     50.000000     13.850000
25%       35.000000    160.000000     67.000000     23.230000
50%       52.000000    170.000000     85.000000     29.170000
75%       68.000000    180.000000    103.000000     35.690000
max       89.000000    190.000000    120.000000     53.330000

In [ ]:
df.isnull().sum()

Age                  0
Gender               0
Blood Type           0
Height_cm            0
Weight_kg            0
BMI                  0
Medical Condition    0
Test Results         0
Symptom              0
Smoking              0
Alcohol Status       0
Natural Food         0
Yoga                 0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [ ]:
df.columns = df.columns.str.strip().str.replace(' ', '_')

In [ ]:
df['gender'] = df['gender'].str.capitalize()
df['blood_type'] = df['blood_type'].str.upper()

In [ ]:
df = df[(df['age'] > 0) & (df['age'] < 120)]

In [ ]:

df.columns = df.columns.str.strip()
print(df.columns.tolist())

['age', 'gender', 'blood_type', 'height_cm', 'weight_kg', 'bmi', 'medical_condition', 'test_results', 'symptom', 'smoking', 'alcohol_status', 'natural_food', 'yoga']

In [ ]:
df = df[(df['height_cm'] >= 100) & (df['height_cm'] <= 250)]
df = df[(df['weight_kg'] >= 30) & (df['weight_kg'] <= 200)]

In [ ]:
df = df[(df['bmi'] >= 10) & (df['bmi'] <= 60)]
print(df.head())

   age  gender blood_type  height_cm  weight_kg    bmi medical_condition  \
0   30    Male         B-        188         83  23.48            Cancer
1   28  Female         O+        157         59  23.94          Diabetes
2   43  Female        AB+        170         60  20.76            Cancer
3   21  Female        AB-        168         52  18.42          Diabetes
4   20  Female         A+        172         64  21.63            Cancer

   test_results                                      symptom smoking  \
0        Normal                  Fatigue, Lumps, Weight loss      No
1      Abnormal  Frequent urination, Fatigue, Blurred vision     Yes
2      Abnormal                  Fatigue, Lumps, Weight loss      No
3  Inconclusive  Frequent urination, Fatigue, Blurred vision      No
4  Inconclusive                  Fatigue, Lumps, Weight loss      No

  alcohol_status                               natural_food  \
0            Yes  Cruciferous vegetables, Berries, Turmeric
1             No           Leafy greens, Whole grains, Nuts
2            Yes  Cruciferous vegetables, Berries, Turmeric
3             No           Leafy greens, Whole grains, Nuts
4            Yes  Cruciferous vegetables, Berries, Turmeric

                                yoga
0              Pranayama, Yoga Nidra
1  Dhanurasana, Ardha Matsyendrasana
2              Pranayama, Yoga Nidra
3  Dhanurasana, Ardha Matsyendrasana
4              Pranayama, Yoga Nidra

In [ ]:
categorical_cols = ['medical_condition', 'test_results', 'smoking', 'alcohol_status']
for col in categorical_cols:
    df[col] = df[col].str.title()

In [ ]:

df['natural_food'] = df['natural_food'].apply(lambda x: [item.strip() for item in x])

df['yoga'] = df['yoga'].apply(lambda x: [item.strip() for item in x])

In [ ]:
print(df[['natural_food', 'yoga']].head())

                                  natural_food  \
0  [Cruciferous vegetables, Berries, Turmeric]
1           [Leafy greens, Whole grains, Nuts]
2  [Cruciferous vegetables, Berries, Turmeric]
3           [Leafy greens, Whole grains, Nuts]
4  [Cruciferous vegetables, Berries, Turmeric]

                                  yoga
0              [Pranayama, Yoga Nidra]
1  [Dhanurasana, Ardha Matsyendrasana]
2              [Pranayama, Yoga Nidra]
3  [Dhanurasana, Ardha Matsyendrasana]
4              [Pranayama, Yoga Nidra]

In [ ]:
multi_entry_cols = ['symptom', 'natural_food', 'yoga']
for col in multi_entry_cols:
    df[col] = df[col].apply(lambda x: [item.strip() for item in x.split(',')] if isinstance(x, str) else x)

In [ ]:
# Ensure 'age' is an integer
df['age'] = df['age'].astype(int)

# Ensure 'height' and 'weight' are floats
df['height_cm'] = df['height_cm'].astype(float)
df['weight_kg'] = df['weight_kg'].astype(float)

# Ensure 'bmi' is a float
df['bmi'] = df['bmi'].astype(float)

In [ ]:
# Check data types after conversion
print(df.dtypes)

age                    int64
height_cm            float64
weight_kg            float64
bmi                  float64
medical_condition     object
test_results          object
symptom               object
smoking               object
alcohol_status        object
natural_food          object
yoga                  object
gender_Male             bool
blood_type_A-           bool
blood_type_AB+          bool
blood_type_AB-          bool
blood_type_B+           bool
blood_type_B-           bool
blood_type_O+           bool
blood_type_O-           bool
dtype: object

In [ ]:
import numpy as np

# Create a new 'blood_group' column based on the boolean blood group columns
conditions = [
    df['blood_type_A-'] == 1, df['blood_type_AB+'] == 1, df['blood_type_AB-'] == 1,
    df['blood_type_B+'] == 1, df['blood_type_B-'] == 1, df['blood_type_O+'] == 1,
    df['blood_type_O-'] == 1
]

choices = ['A-', 'AB+', 'AB-', 'B+', 'B-', 'O+', 'O-']

# Assign values to 'blood_group' column
df['blood_group'] = np.select(conditions, choices, default='Unknown')

In [ ]:
# Drop the individual blood group columns
df.drop(columns=['blood_type_A-', 'blood_type_AB+', 'blood_type_AB-', 'blood_type_B+', 'blood_type_B-', 'blood_type_O+', 'blood_type_O-'], inplace=True)

In [ ]:
# Check the first few rows to confirm the change
print(df.head())

# Check the column names to ensure that the individual blood type columns are removed
print(df.columns)

   age  height_cm  weight_kg    bmi medical_condition  test_results  \
0   30      188.0       83.0  23.48            Cancer        Normal
1   28      157.0       59.0  23.94          Diabetes      Abnormal
2   43      170.0       60.0  20.76            Cancer      Abnormal
3   21      168.0       52.0  18.42          Diabetes  Inconclusive
4   20      172.0       64.0  21.63            Cancer  Inconclusive

                                         symptom smoking alcohol_status  \
0                  [Fatigue, Lumps, Weight loss]      No            Yes
1  [Frequent urination, Fatigue, Blurred vision]     Yes             No
2                  [Fatigue, Lumps, Weight loss]      No            Yes
3  [Frequent urination, Fatigue, Blurred vision]      No             No
4                  [Fatigue, Lumps, Weight loss]      No            Yes

                                  natural_food  \
0  [Cruciferous vegetables, Berries, Turmeric]
1           [Leafy greens, Whole grains, Nuts]
2  [Cruciferous vegetables, Berries, Turmeric]
3           [Leafy greens, Whole grains, Nuts]
4  [Cruciferous vegetables, Berries, Turmeric]

                                  yoga  gender_Male blood_group
0              [Pranayama, Yoga Nidra]         True          B-
1  [Dhanurasana, Ardha Matsyendrasana]        False          O+
2              [Pranayama, Yoga Nidra]        False         AB+
3  [Dhanurasana, Ardha Matsyendrasana]        False         AB-
4              [Pranayama, Yoga Nidra]        False     Unknown
Index(['age', 'height_cm', 'weight_kg', 'bmi', 'medical_condition',
       'test_results', 'symptom', 'smoking', 'alcohol_status', 'natural_food',
       'yoga', 'gender_Male', 'blood_group'],
      dtype='object')

In [ ]:
print(df['Blood_group'].value_counts(dropna=False))

Blood_group
Unknown    2399
B+         2384
AB-        2337
A-         2301
B-         2296
AB+        2285
O-         2271
O+         2260
Name: count, dtype: int64

In [ ]:
df['Blood_group'] = df['Blood_group'].replace('', np.nan)  # Convert empty strings to NaN
df['Blood_group'] = df['Blood_group'].fillna('Unknown')

In [ ]:
df.head()
df.isnull().sum()
df.describe()

                age     height_cm     weight_kg           bmi
count  18533.000000  18533.000000  18533.000000  18533.000000
mean      51.557654    169.985216     84.965629     29.832678
std       19.540805     11.773365     20.452993      8.355826
min       13.000000    150.000000     50.000000     13.850000
25%       35.000000    160.000000     67.000000     23.230000
50%       52.000000    170.000000     85.000000     29.170000
75%       68.000000    180.000000    103.000000     35.690000
max       89.000000    190.000000    120.000000     53.330000

In [ ]:
# Capitalize the first letter of each column name
df.columns = df.columns.str.capitalize()

In [ ]:
# Export DataFrame to Excel with bold column names using openpyxl
with pd.ExcelWriter('cleaned_data.xlsx', engine='openpyxl') as writer:
    df.to_excel(writer, index=False, sheet_name='Sheet1')
    workbook  = writer.book
    worksheet = writer.sheets['Sheet1']

    # Set bold header format using openpyxl
    from openpyxl.styles import Font
    for cell in worksheet[1]:
        cell.font = Font(bold=True)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:

df.to_csv("cleaned_dataset.csv", index=False)